body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 0;
  max-height: 100vh;
  box-sizing: border-box;
}

.header {
  background-color: #1F2937;
  padding: 0 120px 100px 120px;
  color: #E5E7EB;
}


.nav {
  background-color: #1F2937;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 52px;
  position: sticky;
  top: 0;
}

.intro {
  display: flex;
  justify-content: space-between;
  gap: 20px

}

.intro-image {
  background-color:#A9A9A9 ;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}


#header-signup {
  margin-top: 20px;
  padding: 8px 32px;
  background-color: #3882F6;
  border-radius: 10px;
  border: none;
  color: #FFFFFF;
}

.logo {
  font-size: 24px;
  color: #F9FAF8;
  margin-bottom: 12px;
}

.right-links {
  display: flex;
  list-style-type: none;
  gap: 24px
}

a {
  color: #E5E7EB;
  text-decoration: none;
}

.intro-content h1 {
  font-size: 48px;
  font-weight: 900;
  color: #F9FAF8;
  margin: 0;
  padding: 0
}

/* information section */
.information {
  padding: 20px 150px 70px 150px;
  text-align: center;
}

.information-header {
  font-size: 36px;
  color: #1F2937;
  font-weight: 900;
  padding-top: 20px;
}
.card-container {
  display: flex;
  margin-top: 40px;
  gap: 50px;
  justify-content: center;
}

.card {
display: flex;
flex-direction: column;
align-items: center;
}

.card-container .text {
  width: 140px;
  color: #1F2937;
  font-weight: lighter;
}

.img-holder {
  height: 140px;
  width: 140px;
  border: 2px  #3882F6 solid;
  border-radius: 10px;
  margin-bottom: 10px;
}

/* quote */
.quote {
  background: #E5E7EB;
  padding: 100px 300px;
}

#quote-content {
  font-size: 36px;
  font-weight: lighter;
  font-style: italic;
  color: #1F2937;
  text-align: justify;
}

#author {
  text-align: end;
  font-weight: bold;
}

/* sign-up */
.signup {
  padding: 50px 150px;
  color: #F9FAF8;
}

.signup-title {
  font-weight: bold;
}

.signup .text {
  font-weight: lighter;
}

.signup-container {
  background-color: #3882F6;
  padding: 50px 75px;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
}

.signup button {
  border: 2px solid #F9FAF8;
  background: transparent;
  border-radius: 10px;
  padding: 8px 32px;
  color:#F9FAF8;
}

.footer {
  background-color: #1F2937;
  color: #F9FAF8;
  padding: 30px 0;
  text-align: center;
  font-weight: lighter;

}